{% extends 'base.html.twig' %}

{% block title %}Les avancées{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <blockquote class="p-2">
            <p class="paraph"><span>C</span>ette liste suit les recommandations vaccinales émises par la Haute autorité
                de santé
                dans ses
                avis du 27
                novembre
                2020 et du 2 février 2021.</p>
        </blockquote>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 ">
            <img src="https://picsum.photos/id/1011/600/400" class="img-fluid" alt="femme sur un canoe sur l'eau">
            <div class="bandeau">L’âge de la personne</div>
        </div>
        <div class="col-12 ">
            <p>
                L’âge de la personne est le facteur de risque de développer une forme grave de Covid-19 le plus
                important,
                la Haute autorité de santé a donc recommandé de prioriser les populations cibles vaccinales en fonction
                de
                différentes classes d’âge et selon les facteurs d’exposition au virus (ex : vie en collectivité,
                professionnels du secteur de la santé…).</p>
            <p>Par ailleurs, à tranche d’âge égale, les personnes souffrant de comorbidités associées à un risque de
                développer une forme grave de Covid-19 doivent être vaccinées en premier.

                Pour rappel, les vaccins disponibles à cette date n’ont pas d’autorisation de mise sur le marché (AMM)
                pour
                les
                personnes de moins de 18 ans (Moderna et AstraZeneca) ou pour les personnes de moins de 16 ans
                (Pfizer-BioNtech).
            </p>
        </div>
        <div class="col-12 col-md-6 ">
            <img src="https://picsum.photos/id/1012/600/400" class="img-fluid"
                alt="photo d'un homme assis avec un chien dans une prairie">
            <div class="bandeau">La Haute autorité de santé recommande</div>
        </div>
        <div class="col-12 ">
            <p>
                La Haute autorité de santé recommande les vaccins à ARNm (Pfizer-BioNtech et Moderna) préférentiellement
                aux
                personnes
                de plus de 75 ans.</p>
            <p>

                Les personnes concernées par la vaccination sont les suivantes :
            <ul>
                <li>L’ensemble des personnes de 75 ans et plus quel que soit leur lieu de vie ;</li>

                <li>Les résidents en établissements d’hébergement pour personnes âgées dépendantes et unités de soins de
                    longue durée
                    ou
                    hébergées en résidences autonomie et résidences services ;</li>

                <li>Les personnes vulnérables à très haut risque. Il s’agit des personnes adultes :

                    atteintes de cancers et de maladies hématologiques malignes en cours de traitement par
                    chimiothérapie,
                    atteintes de maladies rénales chroniques sévères, dont les patients dialysés,
                    transplantées d’organes solides,
                    transplantées par allogreffe de cellules souches hématopoïétiques,
                    atteintes de poly-pathologies chroniques et présentant au moins deux insuffisances d’organes,
                    atteintes de certaines maladies rares et particulièrement à risque en cas d’infection (voir la
                    liste),
                    atteintes de trisomie 21.</li>
                <li>Les personnes en situation de handicap, quel que soit leur âge, hébergées en maisons d’accueil
                    spécialisées (MAS)
                    et
                    foyers d’accueil médicalisés (FAM) ;</li>

                <li>Les personnes de 50 à 74 ans inclus souffrant d’une ou plusieurs des comorbidités listées plus bas ;
                </li>

                <li>Les résidents de 60 ans et plus dans les foyers de travailleurs migrants (FTM) ;</li>

                <li>Les professionnels du secteur de la santé et du secteur médico-social appartenant aux catégories
                    suivantes:
                    <ul>
                        <li>
                            l’ensemble des professionnels de santé (voir liste plus bas),</li>
                        <li>les autres professionnels des établissements de santé et des établissements et services
                            médico-sociaux
                            (les
                            personnels
                            employés par l’établissement et les personnels d’entreprises prestataires exerçant en
                            continu au
                            sein de
                            l’établissement),</li>
                        <li>les professionnels des résidences services,</li>
                        <li>les professionnels des centres d’hébergement spécialisés pour les personnes atteintes de la
                            Covid-19,</li>
                        <li>les professionnels de l’aide à domicile et les salariés du particulier employeur intervenant
                            auprès
                            de
                            personnes
                            âgées
                            et handicapées vulnérables (recevant l’APA ou la PCH),</li>
                        <li>les prestataires de services et distributeurs de matériel intervenant au domicile des
                            patients,</li>
                        <li>les sapeurs-pompiers professionnels et volontaires,
                        </li>
                        <li>les personnels composant les équipages des véhicules des entreprises de transport sanitaire,
                        </li>
                        <li>les étudiants et élèves en santé au contact des patients,
                        </li>
                        <li>les assistants de régulation médicale durant leurs stages en établissement ou en SMUR,
                        </li>
                        <li>les professions à " usage de titre" reconnues par diverses lois non codifiées (ostéopathes,
                            chiropracteurs,
                        </li>
                        <li>psychothérapeutes, psychologues), les secrétaires médicaux en cabinet de ville et les
                            assistants
                            médicaux.
                        </li>
                        <li>Plus d’informations sur les particuliers concernés Plus d’informations sur les
                            professionnels
                            concernés</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}