$color_blanc:#fbfbfd;
$color_bleue:#496d8f;
$color_orange:#e6684c;
$color_creme:#d5b3af;
$color_gris:#d8d5df;

:root {
    font-size: 16pt;
}

.selected {
    color: $color_orange !important;
}

nav {
    .nav-user {
        color: $color_bleue;
        font-size: .8rem;
    }

    .nav-button {
        font-size: .7rem;

    }

    .nav-link {
        text-transform: capitalize;
    }
}

.shadowroot {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.footer {
    background-color: $color_gris;

    &-titre {
        font-size: 1rem;
        color: $color_bleue;
        font-weight: 900;
        font-variant: all-petite-caps;
    }

    &-lien {
        font-size: .7rem;
        color: $color_creme;
    }
}

.bouton {
    :active {
        color: $color_orange;
    }

    &-fond {
        &-titre {
            font-size: .9rem;
            color: $color_gris;
            text-transform: capitalize;
        }
    }
}

.mot {
    text-transform: capitalize;
    text-decoration: none;

}

blockquote {
    background: linear-gradient(to right, #039be5 4px, transparent 4px) 0 100%,
        linear-gradient(to left, #039be5 4px, transparent 4px) 100% 0,
        linear-gradient(to bottom, #039be5 4px, transparent 4px) 100% 0,
        linear-gradient(to top, #039be5 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: $color_gris;

    .paraph {
        padding-left: 2rem;

        span {
            font-size: 2rem;
        }
    }
}

.bandeau {
    font-size: calc(1vw+1rem);
    position: absolute;
    bottom: 2rem;
    background-color: $color_gris;
    color: cornflowerblue;
    padding-left: 2rem;
    border-bottom: $color_orange solid 2px;

}