$color_blanc:#fbfbfd;
$color_bleue:#496d8f;
$color_orange:#e6684c;
$color_creme:#d5b3af;
$color_gris:#d8d5df;

:root {
    font-size: 16pt;
}

.selected {
    color: $color_orange !important;
}

nav {
    .nav-user {
        color: $color_bleue;
        font-size: .8rem;
    }

    .nav-button {
        font-size: .7rem;
    }
}

.footer {
    background-color: $color_gris;

    &-titre {
        font-size: 1rem;
        color: $color_bleue;
        font-weight: 900;
        font-variant: all-petite-caps;
    }

    &-lien {
        font-size: .7rem;
        color: $color_creme;
    }
}

.bouton {
    :active {
        color: $color_orange;
    }

    &-fond {
        &-titre {
            font-size: .9rem;
            color: $color_gris;
        }
    }
}